<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="2.1.28" targetFramework="net481" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net481" />
  <package id="ExCSS" version="4.2.4" targetFramework="net481" />
  <package id="Lombok.NET" version="2.3.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Options" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.Win32.Registry" version="4.7.0" targetFramework="net481" />
  <package id="NAudio" version="2.2.1" targetFramework="net481" />
  <package id="NAudio.Asio" version="2.2.1" targetFramework="net481" />
  <package id="NAudio.Core" version="2.2.1" targetFramework="net481" />
  <package id="NAudio.Midi" version="2.2.1" targetFramework="net481" />
  <package id="NAudio.Wasapi" version="2.2.1" targetFramework="net481" />
  <package id="NAudio.WinForms" version="2.2.1" targetFramework="net481" />
  <package id="NAudio.WinMM" version="2.2.1" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net481" />
  <package id="SkiaSharp" version="2.88.6" targetFramework="net481" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.6" targetFramework="net481" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.6" targetFramework="net481" />
  <package id="SkiaSharp.Svg" version="1.60.0" targetFramework="net481" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.118.0" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.CodeDom" version="8.0.0" targetFramework="net481" />
  <package id="System.Data.SQLite" version="1.0.118.0" targetFramework="net481" />
  <package id="System.Data.SQLite.Core" version="1.0.118.0" targetFramework="net481" />
  <package id="System.Data.SQLite.EF6" version="1.0.118.0" targetFramework="net481" />
  <package id="System.Data.SQLite.Linq" version="1.0.118.0" targetFramework="net481" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" targetFramework="net481" />
  <package id="System.IO" version="4.3.0" targetFramework="net481" />
  <package id="System.Management" version="8.0.0" targetFramework="net481" />
  <package id="System.Memory" version="4.5.5" targetFramework="net481" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net481" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net481" />
  <package id="System.Text.Json" version="6.0.6" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net481" />
  <package id="YamlDotNet" version="13.7.1" targetFramework="net481" />
  <package id="log4net" version="2.0.15" targetFramework="net481" />
</packages>